<footer id="footer" class="bg-dark text-light">
    <div class="footer-top py-5">
        <div class="container">
            <div class="row">
                <!-- Columna 1: Información de la empresa -->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h3 class="text-white">IKOMI PERU</h3>
                    <p>
                        Empresa importadora y comercializadora de repuestos para todo tipo de vehículos con calidad y a precios de mercado.
                    </p>
                    <div class="social-links mt-3">
                        <a href="#" class="twitter me-2"><i class="bx bxl-twitter text-light"></i></a>
                        <a href="https://www.facebook.com/ikomi.peru?locale=es_LA" target="_blank" class="facebook me-2"><i class="bx bxl-facebook text-light"></i></a>
                        <a href="https://www.instagram.com/ikomi.peru?utm_source=ig_web_button_share_sheet&amp;igsh=ZDNlZDc0MzIxNw==" target="_blank" class="instagram me-2"><i class="bx bxl-instagram text-light"></i></a>
                        <a href="#" class="google-plus me-2"><i class="bx bxl-skype text-light"></i></a>
                        <a href="#" class="linkedin me-2"><i class="bx bxl-linkedin text-light"></i></a>
                    </div>
                </div>

                <!-- Columna 2: Dirección y contacto -->
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-md-12 mb-4">
                            <div class="info-box bg-light text-dark text-center rounded py-5">
                                <i class="bx bx-map mb-2"></i>
                                <h3 class="text-dark">Dirección</h3>
                                <p>Avenida Nicolás Ayllon 3384<br>
                                    Carretera Central - Paradero Rayovac<br>
                                    Lima - Ate
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="info-box bg-light text-dark text-center rounded py-5">
                                <i class="bx bx-envelope mb-2 text-dark"></i>
                                <h3 class="text-dark">Correo</h3>
                                <p>{{ correo }}</p>
                                <p>{{ correo }}</p>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="info-box bg-light text-dark text-center rounded py-5">
                                <i class="bx bx-phone-call mb-2 text-light"></i>
                                <h3 class="text-black">Teléfonos</h3>
                                <p>985 068 416</p>
                                <p>981 453 306</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Columna 3: Links -->
                <div class="col-lg-2 col-md-6">
                    <h4 class="text-white">Links</h4>
                    <ul class="list-unstyled">
                        <li><i class="bx bx-home-alt-2 text-light"></i> <a class="nav-link scrollto text-light" href="/home">Inicio</a></li>
                        <li><i class="bx bxs-business text-light"></i> <a class="nav-link scrollto text-light" href="/pagina1">Nosotros</a></li>
                        <li><i class="bx bxs-briefcase-alt-2 text-light"></i> <a class="nav-link scrollto text-light" href="/pagina2">Servicios</a></li>
                        <li><i class="bx bxl-product-hunt text-light"></i> <a class="nav-link scrollto text-light" href="/pagina3">Producto</a></li>
                        <li><i class="bx bxl-microsoft-teams text-light"></i> <a class="nav-link scrollto text-light" href="/pagina4">Equipo</a></li>
                        <li><i class="bx bxs-contact text-light"></i> <a class="nav-link scrollto text-light" href="/pagina5">Contáctenos</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center">
        <div class="text-center py-3">
            <div class="credits text-center">
                Copyright © 2024 <a href="/home" class="text-white">Grupo IKOMI PERU</a>
            </div>
        </div>
    </div>
</footer>
