<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 m-5">
    <div class="col">
      <div data-aos="fade-left" class="card shadow-sm aos-init aos-animate">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="60" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Equipo</text></svg>

        <div class="card-body">
          <img src="assets/nosotros.jpg" alt="" style="width: 100%;height: 100%;">
          
          
        </div>
      </div>
    </div>
    <div class="col">
      <div data-aos="zoom-in" class="card shadow-sm aos-init aos-animate">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="60" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Almacen</text></svg>

        <div class="card-body">
          <img src="assets/bodega.jpg" alt="" style="width: 100%;height: 100%;">
          
        </div>
      </div>
    </div>
    <div class="col">
      <div data-aos="fade-right" class="card shadow-sm aos-init aos-animate">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="60" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Tienda</text></svg>

        <div class="card-body">
          <img src="assets/entrada.jpg" alt="" style="width: 100%;height: 100%;">
         
        </div>
      </div>
    </div>
    <div class="col">
      <div data-aos="fade-right" class="card shadow-sm aos-init aos-animate">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="60" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Empresa</text></svg>

        <div class="card-body">
          <img src="assets/empresa.jpg" alt="" style="width: 100%;height: 100%;">
          <div class="d-flex justify-content-between align-items-center">
            
          </div>
        </div>
      </div>
    </div>
    
</div>