<section id="portfolio" class="portfolio bg-light text-dark py-5">
    <div class="container" data-aos="fade-up">

        <!-- TITULO -->
        <div class="section-title text-center">
            <h2>NUESTROS PRODUCTOS</h2>
            <p>Los mejores productos y precios.</p>
        </div>
        <!-- FIN TITULO -->

        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <!-- FILTROS VERTICALES -->
            <div class="col-lg-2 d-flex flex-column align-items-start">
                <ul id="portfolio-flters" class="list-unstyled">
                    <li class="mb-2"><button type="button" class="btn btn-primary w-100" data-filter="*">Todas las categorias</button></li>
                    <li class="mb-2"><button type="button" class="btn btn-success w-100" data-filter=".filter-app">Disco, plato y collarín de embrague</button></li>
                    <li class="mb-2"><button type="button" class="btn btn-success w-100" data-filter=".filter-card">Pastilla y zapata de freno</button></li>
                    <li class="mb-2"><button type="button" class="btn btn-success w-100" data-filter=".filter-web">Piñón y parte de caja</button></li>
                </ul>
            </div>
            <!-- CONTENIDO DEL PORTAFOLIO -->
            <div class="col-lg-10 portfolio-container">
                <div class="row">
                    <!-- 1 CATEGORIA -->
                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="assets/DISCO-DE-EMBRAGUE-768x551.png" class="img-fluid" alt="DISCO DE EMBRAGUE">
                            <div class="portfolio-info">
                                <h4>DISCO DE EMBRAGUE</h4>
                                <div class="portfolio-links">
                                    <a href="assets/DISCO-DE-EMBRAGUE-768x551.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="DISCO DE EMBRAGUE"><i class="bx bx-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-wrap">
                            <img src="assets/14-HANSANG-PINON-Y-CORONA-768x512.jpg" class="img-fluid" alt="PIÑON Y CORONA">
                            <div class="portfolio-info">
                                <h4>PIÑON Y CORONA</h4>
                                <div class="portfolio-links">
                                    <a href="assets/14-HANSANG-PINON-Y-CORONA-768x512.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="PIÑON Y CORONA"><i class="bx bx-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="assets/PLATO-DE-EMBRAGUE-768x515.png" class="img-fluid" alt="PLATO DE EMBRAGUE">
                            <div class="portfolio-info">
                                <h4>PLATO DE EMBRAGUE</h4>
                                <div class="portfolio-links">
                                    <a href="assets/PLATO-DE-EMBRAGUE-768x515.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="PLATO DE EMBRAGUE"><i class="bx bx-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 2 CATEGORIA -->
                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-wrap">
                            <img src="assets/pastilla-hiq.1-2-768x469.png" class="img-fluid" alt="PASTILLA DE FRENO HI-Q">
                            <div class="portfolio-info">
                                <h4>PASTILLA DE FRENO HI-Q</h4>
                                <div class="portfolio-links">
                                    <a href="assets/pastilla-hiq.1-2-768x469.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="PASTILLA DE FRENO HI-Q"><i class="bx bx-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-wrap">
                            <img src="assets/PROPULSOR-Y-DESLIZANTE-3-768x636.png" class="img-fluid" alt="PROPULSOR Y DESLIZANTE">
                            <div class="portfolio-info">
                                <h4>PROPULSOR Y DESLIZANTE</h4>
                                <div class="portfolio-links">
                                    <a href="assets/PROPULSOR-Y-DESLIZANTE-3-768x636.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="PROPULSOR Y DESLIZANTE"><i class="bx bx-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="assets/IPEX080internet-768x512.jpg" class="img-fluid" alt="VOLANTE DE MOTOR BIMASA Y BOMBA">
                            <div class="portfolio-info">
                                <h4>VOLANTE DE MOTOR BIMASA Y BOMBA</h4>
                                <div class="portfolio-links">
                                    <a href="assets/IPEX080internet-768x512.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="VOLANTE DE MOTOR BIMASA Y BOMBA"><i class="bx bx-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 3 CATEGORIA -->
                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-wrap">
                            <img src="assets/pastilla-severe-duty.1-1-768x523.png" class="img-fluid" alt="PASTILLA DE FRENO HI-Q SEVERE DUTY">
                            <div class="portfolio-info">
                                <h4>PASTILLA DE FRENO HI-Q SEVERE DUTY</h4>
                                <div class="portfolio-links">
                                    <a href="assets/pastilla-severe-duty.1-1-768x523.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="PASTILLA DE FRENO HI-Q SEVERE DUTY"><i class="bx bx-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-wrap">
                            <img src="assets/pastilla-hagen.1-3-768x492.png" class="img-fluid" alt="PASTILLA DE FRENO HAGEN">
                            <div class="portfolio-info">
                                <h4>PASTILLA DE FRENO HAGEN</h4>
                                <div class="portfolio-links">
                                    <a href="assets/pastilla-hagen.1-3-768x492.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="PASTILLA DE FRENO HAGEN"><i class="bx bx-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-wrap">
                            <img src="assets/TRENFIJO2-768x690.jpg" class="img-fluid" alt="TRENFIJO">
                            <div class="portfolio-info">
                                <h4>TRENFIJO</h4>
                                <div class="portfolio-links">
                                    <a href="assets/TRENFIJO2-768x690.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="TRENFIJO"><i class="bx bx-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
