<section id="services" class="services section-bg py-5">
  <div class="container" data-aos="fade-up">

    <div class="section-title text-center mb-5">
      <h2>Servicios</h2>
      <p>Estamos listos para atenderte.</p>
    </div>

    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="icon-box border border-dark bg-danger rounded p-4 h-100 d-flex" data-aos="fade-up" data-aos-delay="100">
          <div class="icon me-3"><i class="fas fa-briefcase fa-2x text-dark"></i></div>
          <div>
            <h4><a href="#" class="text-dark">Ventas</a></h4>
            <p>Venta de los mejores repuestos de partes de motor, cajas, transmisiones, piñones, coronas y trenes
              fijos de las marcas de Corea y Japón. A los mejores precios del mercado.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 mb-4">
        <div class="icon-box border border-dark bg-warning rounded p-4 h-100 d-flex" data-aos="fade-up" data-aos-delay="200">
          <div class="icon me-3"><i class="fas fa-handshake fa-2x text-dark"></i></div>
          <div>
            <h4><a href="#" class="text-dark">Asesoría</a></h4>
            <p>Le brindamos una asesoría personalizada acerca de nuestros productos, a elegir el mejor repuesto para su
              movilidad.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 mb-4">
        <div class="icon-box border border-dark bg-info rounded p-4 h-100 d-flex" data-aos="fade-up" data-aos-delay="300">
          <div class="icon me-3"><i class="fas fa-shipping-fast fa-2x text-dark"></i></div>
          <div>
            <h4><a href="#" class="text-dark">Delivery</a></h4>
            <p>Compras sin salir de casa, realizamos entregas a domicilio en el menor tiempo posible.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 mb-4">
        <div class="icon-box border border-dark bg-success rounded p-4 h-100 d-flex" data-aos="fade-up" data-aos-delay="400">
          <div class="icon me-3"><i class="fas fa-box-open fa-2x text-dark"></i></div>
          <div>
            <h4><a href="#" class="text-dark">Productos</a></h4>
            <p>Contamos con las mejores marcas y calidad de productos del mercado.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

