.hero-section {
    position: relative;
    background: url('../../../assets/hero-bg.png') no-repeat center center;
    background-size: cover;
    padding: 300px 0;
    color: white;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(4, 3, 3, 0.5); 
    z-index: 1;
}
    
.hero-section .container {
    position: relative;
    z-index: 2;
}

.lead{
    font-size: 1.5em;
}

footer {
    background-color: #0033A0; /* Blue color */
}